@model BudgetTracker.Models.Budget

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Index" class="icon-link" title="Back to list">
    <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
</a>

<div class="row">
    <div class="col-md-6 mx-auto">
        <header>
            <h1>Create</h1>
            <h4>Budget</h4>
        </header>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Enter a name for this budget." />
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Description" class="form-control" placeholder="Enter a description. (Optional)" />
                <label asp-for="Description" class="form-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Periodicity" class="form-select" asp-items="@((IEnumerable<SelectListItem>) ViewData["Periodicities"])"></select>
                <label asp-for="Periodicity" class="form-label" placeholder=""></label>
                <span asp-validation-for="Periodicity" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="FromDate" class="form-control" />
                        <label asp-for="FromDate" class="form-label" placeholder=""></label>
                        <span asp-validation-for="FromDate" class="text-danger"></span>
                    </div>
                </div>

                <div id="@(nameof(Model.ToDate))Wrapper" class="col" style="display: none">
                    <div class="form-floating mb-3">
                        <input asp-for="ToDate" class="form-control" />
                        <label asp-for="ToDate" class="form-label" placeholder=""></label>
                        <span asp-validation-for="FromDate" class="text-danger"></span>
                    </div>
                </div>

                <div id="@(nameof(Model.Repeats))Wrapper" class="col" style="display: none">
                    <div class="form-check mb-3">
                        <input asp-for="Repeats" class="form-check-input" />
                        <label asp-for="Repeats" class="form-check-label"></label>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/js/Budgets/create.js" asp-append-version="true"></script>
}
